{% extends "base-template.html" %}

{% block title %}
    Dashboard
{% endblock %}

{% block content %}
    {% if current_user.is_authenticated %}
        <h1>User: {{ current_user.name }}</h1>
    {% endif %}

    <input type="hidden" id="userData" value="{{ current_user.id }}">
    <input type="hidden" id="userToken" value="{{ current_user.api_token }}">
    <h1 id="main-heading">Today's Cryptocurrency Prices by Market Cap</h1>
    <br />
    <table class="center">
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Held</th>
        </tr>
           {% for key, value in cryptos.items() %}
               <tr>
                <td>{{key}}</td>
                <td id="{{ key }}">{{value}}</td>
                <td id="{{ key }} wallet">{{wallet[key]}}</td>
               </tr>
            {% endfor %}
    </table>
    <br/>
    <br/>

    <a id="balance" class="your-balance">
        Your balance: {{ current_user.current_balance }}$
    </a>
    <form>
        <label for="crypto">Crypto</label>
        <input type="text" name="crypto" id="crypto">

        <label for="amount">Amount in selected Crypto</label>
        <input type="text" name="amount" id="amount">

        <button class="button3" onclick="{{ url_for('bp_wallet.wallet_sell') }}">Sell</button>
    </form>



{% endblock %}

{% block scripts %}
 <script>
        setInterval(updateCrypto, 15000);

        function updateUserWallet() {

            let userData = document.getElementById("userData").value;
            fetch("http://127.0.0.1:5000/api/v.1/get_user_crypto?id=" + userData, {
                method: "GET"
                })
            .then(response => response.json())
            .then(crypto => {
                let btc = crypto.BTC;
                let eth = crypto.ETH;
                let usdt = crypto.USDT;
                let bnb = crypto.BNB;
                let usdc = crypto.USDC;
                let balance = crypto.userBalance
                document.getElementById("BTC wallet").innerHTML = btc;
                document.getElementById("ETH wallet").innerHTML = eth;
                document.getElementById("USDT wallet").innerHTML = usdt;
                document.getElementById("BNB wallet").innerHTML = bnb;
                document.getElementById("USDC wallet").innerHTML = usdc;
                document.getElementById("balance").innerText = "Your balance: " + balance;
                });}


        function updateCrypto() {
            fetch("http://127.0.0.1:5000/api/v.1/cryptousd")

            .then(response => response.json())
            .then(crypto => {
                let btc = crypto.BTC;
                let eth = crypto.ETH;
                let usdt = crypto.USDT;
                let bnb = crypto.BNB;
                let usdc = crypto.USDC;
                document.getElementById("BTC").innerHTML = btc;
                document.getElementById("ETH").innerHTML = eth;
                document.getElementById("USDT").innerHTML = usdt;
                document.getElementById("BNB").innerHTML = bnb;
                document.getElementById("USDC").innerHTML = usdc;
            });
        }

        function handleSubmit(event) {
        event.preventDefault();

        const data = new FormData(event.target);

        const value = Object.fromEntries(data.entries());

        // console.log({ value });
        let userToken = document.getElementById("userToken").value;
        fetch("http://127.0.0.1:5000/api/v1.0/wallet/sell/" + userToken, {
            method: 'POST',
            body: JSON.stringify(value)})

        setTimeout(updateUserWallet, 1500)
        }
      const form = document.querySelector('form');
      form.addEventListener('submit', handleSubmit);

    </script>
{% endblock %}